clip @ git+https://github.com/openai/CLIP.git
ffmpeg==1.4
gradio==6.10.0
gradio_client==2.4.0
hf-gradio==0.3.0
huggingface_hub==1.8.0
librosa==0.11.0
numpy==2.4.3
opencv-python==4.13.0.92
pandas==3.0.1
pydub==0.25.1
requests==2.33.0
scikit-learn==1.8.0
scipy==1.17.1
soundfile==0.13.1
tokenizers==0.22.2
torch==2.11.0
torchvision==0.26.0
tqdm==4.67.3
transformers==5.4.0
matplotlib==3.10.8
yt-dlp==2026.03.17
